body{
    margin: 0px;
}

#total{
    width: 1500px; /*largura*/
    height:auto; /*altura*/
    margin: auto; /*centraliza a divisão na página*/
}
#topo{
    width: 1500px;
    height: 100px;
    float: left;
    background-color: purple;
    margin-top: 10px;
}
#um{
    width: 600px;
    height: 400px;
    float: left;
    background-color: hotpink;
}
#dois{
    width: 420px;
    height: 180px;
    float: left;
    background-color: hotpink;
    margin: 10px 10px 10px 20px;
}
#três{
    width: 440px;
    height: 180px;
    float: left;
    background-color: hotpink;
    margin: 10px 0px 10px 10px;
}
#quatro{
    width: 870px;
    height: 180px;
    float: left;
    background-color: hotpink;
    margin: 10px 10px 10px 20px;
}